*{
    font-family: serif;
}
.user-nav-logo{
    font-weight: 300;
}
.sidebar-menu{
    font-size: 15px;
}
.user-content-main-container{
    background: #242526;
  background-image: url("https://images.unsplash.com/photo-1639322537228-f710d846310a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEyfHx8ZW58MHx8fHx8");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: luminosity;
  border-top: 1px solid #ffffff4a;
  border-left: 1px solid #ffffff4f;
}
/* Get Loan css starts from here */

.get-loan-container{
    height: 100%;
    width: 100%;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #242526;
    background-image: url("https://images.unsplash.com/photo-1496065187959-7f07b8353c55?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHRlY2hub2xvZ3l8ZW58MHx8MHx8fDA%3D");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: luminosity;
    border-top: 1px solid #ffffff4a;
    border-left: 1px solid #ffffff4f;
}
.loan-form{
    height: 280px;
    width: 400px;
    background-color:#fffffff4;
    color: black;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: rgba(211, 201, 201, 0.35) 0px 5px 25px;
}
.loan-form h1{
    font-size: 30px;
    font-weight: 100;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.loan-form div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
}
.loan-form-label{
    width: 100%;
    font-size: 20px;
    margin-bottom: 5px;
}
.loan-form-input{
    width: 100%;
    padding: 10px ;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.305);
    -webkit-appearance: none;   
}
.loan-form-button{
    width: 100%;
    padding: 8px ;
    font-size: 20px;
    background-color:#1677FF;
}
.loan-form-button:hover{
    background-color: #0a0a0cc7;
    color: white;
    cursor: pointer;
    transition: all 1s;
}
input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
    appearance: none; /* Other browsers */
  }input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Webkit browsers (Chrome, Safari) */
    margin: 0; /* Optional: if you want to remove the gap */
  }
  .loan-detail-icon{
    font-size: 25px;
    cursor: pointer;
  }
  /* loan detail page starts from here */
  .loan-detail-container-main{
    height: 100%;
    width: 100%;
    
    display: flex;
    

    justify-content: space-around;
    }
.loan-detail-container{
    height:300px ;
    width: 600px;
    background-color:#ffffffaf;
    position: relative;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.loan-detail-item{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    padding: 15px 5%;
    border-bottom: 1px solid black;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
.pay-loan-button{
    width: 100%;
    padding: 8px ;
    font-size: 20px;
    background-color:#1677FF;
}
.pay-loan-button:hover{
    background-color: #0a0a0cc7;
    color: white;
    cursor: pointer;
    transition: all 1s;
}
.pay-loan-popup{
    position: absolute;
    top: 75%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color:#ffffffaf;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: flex;
    border: 1px solid rgba(13, 11, 11, 0.77);
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    color: black;
    width: 400px;
}
.pay-loan-buttons{
    padding: 5px 10px;
    font-size: 15px;
    position: relative;
    left: 55%;
    top: 60%;
    margin-left: 10px;
    cursor: pointer;

}
#payloanamount{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #6c6363ba;
    
    font-size: 25px;
}
.pay-loan-popup h1{
    font-size: 30px;
    font-weight: 100;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.pay-loan-popup-hide{
    display: none;
}

.repayment{
    height:max-content;
    width: 400px;
    background-color:#ffffffaf;
    position: relative;
    color: black;
    min-height: 300px;
    
    border: 1px solid beige;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.repayment h1{
    font-size: 27px;
    font-weight: 100;
    border-bottom: 1px solid black;
    padding:5px 0px;
    text-align: center;
}
.loandetailtable{
    padding: 0;
    margin: 0;
    width: 100%;
    font-weight: 100;
}
.loandetailtable th{
    background-color: #72747661;
    color: black;
    font-weight: 200;
}

@media (max-width: 900px) {
    .loan-detail-container-main{
        flex-wrap: wrap-reverse;
        justify-content: space-around;
    }
    .repayment{
        margin-top: 30px;
    }
    .pay-loan-popup{
        position: absolute;
        /* top: 75%; */
        top: 30%;
        left: 50%;
        background-color: #fff;
        width: 300px;
    }
  }
  @media (max-width: 500px) {
    
    .pay-loan-popup{
        position: absolute;
        top: 30%;
        
        left: 60%;
        
    }
    
  }
  